<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pavithra Vinay - Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/creative.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#academics">Academics</a>
            </li>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/documents/PavithraVinay-Resume.pdf" target="_blank">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
         <!--<img class="img-rounded" id="pv" src="/images/pavithravinay.jpg">-->
        <div class="header-content-inner">
          <h1 id="homeHeading" class="original">Pavithra Vinay</h1>
          <p id="cs-student">Computer Science Graduate Student</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" id="find-out-more" href="#about">Find Out More</a>
        </div>
      </div>
    </header>
    
    <!--About-->
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">About Me</h2>
            <hr class="light">
            <p class="text-faded">I consider myself to be a highly motivated individual with a proven ability to generate results. 
            Having had a resourceful academic experience in the field of computer science, I am looking forward to 
            having an exciting future in the tech world. Combining my technical skills and knowledge, currently, 
            I am looking for full time opportunities in a collaborative environment where ideas turn into reality.</p>
          </div>
          </div>
        </div>
    </section>
    <!--End - About-->
    
    
    <!--Academics section-->
    <section id="academics">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <i class="fa fa-graduation-cap fa-3x text-primary sr-icons"></i>
            <h2 class="section-heading skills-icon">Education</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="ms">
                <div class="job-title bg-original">
                  <h4> Master of Science in Computer Science</h4>
                  <i class="fa fa-university sr-icons"></i>
                  <p class="skills-icon">llinois Institute of Technology, Chicago (Jan 2016- Dec 2017, GPA - 4.0)<p>
                </div>
                <div id="coursework">
                  <p class="space-left"><strong>Coursework:</p></strong>
                  <p class="space-left">Introduction to Algorithms, Advanced Database Organization, Design Patterns, Software Systems Architecture, Enterprise Web Applications, Software Project Management etc.</p>
                </div>
              </div>
              <hr class="light">
              <hr class="exp-hr">
              <div id="be">
                <div class="job-title bg-original">
                  <h4> Bachelor of Technology in Computer Science</h4>
                  <i class="fa fa-university sr-icons"></i>
                  <p class="skills-icon">Visvesvaraya Technological University, India (Aug 2006- May 2010, GPA - 3.71)<p>
                </div>
                <div id="coursework">
                  <p class="space-left"><strong>Coursework:</strong></p>
                  <p class="space-left">Database Organization, Object oriented Programming in Java and C++, Data Structures in C, Operating Systems, Computer Networks, Software testing etc.</p>
                </div>
              </div>
             </div> 
          </div>
        </div>
      </div>
    </section>
    <!--End- Academics section-->
    
    <div class="bg-primary fill"></div>
      
    <!--Skills section -->
    <section id="skills">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <i class="fa fa-book fa-3x text-primary sr-icons"></i>   
            <h2 class="section-heading skills-icon">Skills</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="web-technologies">
                <div class="job-title bg-original">
                  <i class="fa fa-globe sr-icons"></i>
                  <h5 class="skills-icon">Web Design and Developement/ Frameworks</h5>
                </div>
                <div class="web">
                  <p class="space-left">HTML5, CSS3, Bootstrap, JavaScript, PHP, Java, Servlet, JSP, Spring, Hibernate, Node.js, Express, Swing</p>
                </div>
              </div>
              <div id="database">
                <div class="job-title bg-original">
                  <i class="fa fa-database sr-icons"></i>
                  <h5 class="skills-icon">Database</h5>
                </div>
                <div class="db">
                  <p class="space-left">MySQL, Oracle, SQL Server, Mongo DB</p>
                </div>
              </div>
              <div id="programming-languages">
                <div class="job-title bg-original">
                  <i class="fa fa-language sr-icons"></i>
                  <h5 class="skills-icon">Programming Languages</h5>
                </div>
                <div class="pl">
                  <p class="space-left">Java, Python, C</p>
                </div>
              </div>
              <div id="testing">
                
                <div class="job-title bg-original">
                  <i class="fa fa-check-circle-o sr-icons"></i>
                  <h5 class="skills-icon">Testing</h5>
                </div>
                <div class="test">
                  <p class="space-left">Manual Testing - Module testing, Integration testing, functional testing, regression testing</p>
                </div>
              </div>
              <div id="tools">
                <div class="job-title bg-original">
                  <i class="fa fa-cogs sr-icons"></i>
                  <h5 class="skills-icon">Tools/ IDE</h5>
                </div>
                <div class="tool">
                  <p class="space-left">Microsoft Visual Studio, Eclipse, Maven, Quality Centre, Microsoft Project</p>
                </div>
              </div>
             </div> 
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div id="resume">
              <a class="btn btn-primary btn-xl" href="/documents/PavithraVinay-Resume.pdf" target="_blank">Resume</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End - Skills section-->
    
    <div class="bg-primary fill"></div>
    
    <!--Experience section-->
    <section id="experience">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="section-heading text-center">Experience</h2>
            <hr class="primary">
          </div>
          <div class="col-lg-8 mx-auto rounded" id="exp-border">
            <div id="exp-content">
              <div id="ta">
                <div class="job-title bg-original">
                  <h4>Illinois Institute of Technology, Chicago IL, USA</h4>
                  <h5>Teaching Assistant</h4>
                </div>
                <div id="courses">
                  <p class="space-left">Courses:</p>
                  <ul>
                    <li>Software Project Management (Spring 2017)</li>
                    <li>Object Orient Analysis and Design (Summer 2017)</li>
                    <li>Enterprise Web Applications (Fall 2017)</li>
                  </ul>
                </div>
                <div id="responsibilities">
                  <p class="space-left">Responsibilities:</p>
                  <ul>
                    <li>Prepare/review lesson materials, bulletin board displays and demonstrations.</li>
                    <li>Reinforce lessons presented by Professor by reviewing material with students.</li>
                    <li>Present subject matter to students under the direction and guidance of Professor, using 
                    lectures and discussions.</li>
                    <li>Plan and implement course curriculum and instructive programs for the class in the absence 
                    of the Professor.</li>
                    <li>Perform general administrative tasks such as editing and publishing class notes, presentation 
                    slides, assignments, and make important announcements on student portal.</li>
                    <li>Evaluation and grading of student assignments and exams.</li>
                  </ul>
                </div>
              </div>
                
              <hr class="light">
              <hr class="exp-hr">
                
                <div id="nextgen">
                <div class="job-title bg-original">
                  <h4>NextGen Healthcare, Bangalore, India</h4>
                  <h5>Senior Software Engineer, November 2012- October 2014</h4>
                </div>
                  <p class="space-left">Being part of multiple agile teams, handled projects very well and helped in timely delivery with 
                  assured quality. Played lead role in agile teams and have hands on experience in agile methodology of 
                  testing. Identified critical bugs and helped in improving the product quality to a major extent.</p>
                  <ul>
                      <li>Represent QA for scrum team and attending calls</li>
                      <li>Responsible for estimation for QA activities for a sprint </li>
                      <li>Responsible for Requirement Analysis and Sign off from QA </li>
                      <li>Part of the Technical reviews conducted for the developed projects in a <sprint></sprint></li>
                      <li>Responsible for authoring and reviewing Test scenarios and Test cases in QC </li>
                      <li>Handling different testing methodologies like Functional testing, Integration testing, System testing & Regression testing</li>
                      <li>Sending out status report and updating timely status.</li>
                  </ul>
              </div>
              
              <hr class="light">
              <hr class="exp-hr">
              
              <div id="cenduit">
                <div class="job-title bg-original">
                  <h4>Cenduit India Services Pvt Ltd, Bangalore, India</h4>
                  <h5>Software Test Engineer, August 2010- November 2012</h5>
                </div>
                <ul>
                    <li>Involved in preparation of Test cases and execution of Test cases.</li>
                    <li>Deriving the test cases from Functional Specification and mapping the test tags to the requirement tags.</li>
                    <li>Involved in functional, regression, integration Testing, Logging Defects in Defect Tracking Tool.</li>
                    <li>Keeping track of the state of Defects in Defect Tracking Tool and assigning to appropriate person when it’s required.</li>
                    <li>Involved in each and every phase of the software test life cycle.</li>
                    <li>Involved in Preparing Test Summary and Validation Report.</li>
                    <li>Participated in Client Audits. </li>
                </ul>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
    <!--Experience section-->
    
    <div class="bg-primary fill"></div>
  
    <!--Projects section  -->
    <section id="projects">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Projects</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-handshake-o fa-4x text-primary sr-icons"></i>
              <h3 class="portfolio-project-name">Best Deal!</h3>
              
              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#bestDeal">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="bestDeal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Best Deal!</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>Created a web application developed using object oriented design principles with focus on 
                          reusability, extensibility and flexibility. Implementation involves various technologies such as Java 
                          Servlets, JSP, Ajax, MySQL db, MongoDB etc.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-camera fa-4x text-primary sr-icons"></i>
              <h3>E-Security Camera Store</h3>
              
              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#eCameraStore">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="eCameraStore" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">E-Security Camera Store</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>Created a web application developed using object oriented design principles with focus on 
                          reusability, extensibility and flexibility. Implementation involves various technologies such as Java 
                          Servlets, JSP, Ajax, MySQL db, MongoDB etc.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa-4x fa fa-users text-primary sr-icons"></i>
              <h3>Social Networking Website</h3>
              
              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#socialNetwork">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="socialNetwork" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Social Networking Website</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>Created a web application developed using object oriented design principles with focus on 
                          reusability, extensibility and flexibility. Implementation involves various technologies such as Java 
                          Servlets, JSP, Ajax, MySQL db, MongoDB etc.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-database fa-4x text-primary sr-icons"></i>
              <h3 class="portfolio-project-name">Database Manager</h3>
              
              <button type="button" class="btn btn-sm btn-custom btn-primary" data-toggle="modal" data-target="#db">more info..</button>
              <!-- Modal -->
              <div class="modal fade" id="db" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Database Manager</h4>
                    </div>
                    <div class="modal-body bg-primary">
                      <p>Created a web application developed using object oriented design principles with focus on 
                          reusability, extensibility and flexibility. Implementation involves various technologies such as Java 
                          Servlets, JSP, Ajax, MySQL db, MongoDB etc.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End - Projects section  -->
    

    <!--Portfolio section-->
    <section class="p-0" id="portfolio">
      <div class="call-to-action bg-black">
        <div class="container text-center">
          <h2 class="bg-original">Portfolio</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://pvinay-yelpcamp.herokuapp.com" target="_blank">
              <img class="img-fluid" src="/images/thumbnails/yelpcamp.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    YelpCamp
                  </div>
                  <div class="text-faded">
                    <p class="project-desc">Click on any campground to see detailed info, add comment, edit/delete campground/comment, and more. </p>
                    <p>Click to launch app</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://pvinay-colorgame.herokuapp.com/" target="_blank">
              <img class="img-fluid" src="/images/thumbnails/colorgame.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    RGB Color Game
                  </div>
                  <div class="text-faded">
                    <p class="project-desc">Guess RGB color! Click a circle to see if you guessed it right. Set the game mode either Easy or Hard, select "Play again?" to play again.</p>
                    <p>Click to launch app</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="https://pvinay-patatap-clone.herokuapp.com/">
              <img class="img-fluid" src="/images/thumbnails/patatap_clone.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Patatap Clone
                  </div>
                  <div class="text-faded">
                    <p class="project-desc">Press any key to see bubble formation on screen with assigned unique sound for each key!</p>
                    <p>Click to launch app</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--End - Portfolio section-->
    
    <!--Contact section-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope sr-contact fa-2x"></i>
            <i class="fa fa-linkedin-square sr-contact fa-2x"></i>
            <p>Feel free to drop me a line at
              <a href="mailto:pavithravinay25@gmail.com">pavithravinay25@gmail.com</a>
            </p>
            <p>
              Or, view my LinkedIn profile <a href="https://www.linkedin.com/in/pavithra-vinay-2371355b" target="_blank">here</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--End - Contact section-->

    <!-- Bootstrap core JavaScript -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/scripts/jquery.easing.min.js"></script>
    <script src="/scripts/scrollreveal.min.js"></script>
    <script src="/scripts/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/scripts/creative.min.js"></script>

  </body>

</html>
